langgraph
langchain
langchain-core
langsmith
langchain-openai
langchain-community
langchain-qdrant
qdrant-client
openpyxl
pydantic
python-dotenv
fastapi
uvicorn
truststore
pandas
pyyaml
pypdf
python-docx
google-api-python-client
google-auth>=2.15.0
google-auth-httplib2
google-auth-oauthlib>=1.2.4
google-genai
supabase